<!doctype html>
<html>
  <head><title>{% block title %}Stadt Land Vollpfosten - digital helper {% endblock %}</title></head>
  <body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/start">Start New Game</a></li>
        </ul>
    </nav>
    {% block body %}{% endblock %}
  </body>
</html>
