{% extends "layout" %}
{% block title %}{{ super() }} | {{ title }} {% endblock %}
{% block body %}
<form action="/prepare" method="post">
  <label for="category">
    Enter your category:
    <input type="text" name="category" required>
  </label>
  <input type="submit" value="Submit">
</form>
{% endblock %}
