{% extends "layout" %}
{% block title %}{{ super() }} | {{ title }} {% endblock %}
{% block style %}
input.dice {
  font-size: xxx-large;
  margin-top: 10px;
}
{% endblock %}
{% block body %}
<h1>{{ title }}</h1>
{% if first_round is defined %}
  <form action="/round" method="post">
    <label for="letter">
      Throw the dice:
      <input class="dice" type="submit" value=" ⚅ " required>
    </label>
  </form>
{% else %}
  <p>Your current letter is '{{ letter }}'.</p>
  <form action="/timer" method="post">
    <label for="timeout">
      Enter current timeout:
      <input type="number" name="timeout" required>
    </label>
    <br>
    <label for="round">
      Press "Go" to start the timer!
      <input type="submit" value="Go" required>
    </label>
  </form>
{% endif %}
{% endblock %}
