{% extends "layout" %}
{% block title %}{{ super() }} | {{ title }} {% endblock %}
{% block body %}
<form action="/start" method="post">
  <label for="category">
    Enter one of the following categories: 'default', 'junior', 'adult'.
    <input type="text" name="category" required>
  </label>
  <input type="submit" value="Submit">
</form>
{% endblock %}
