{% extends "layout" %}
{% block title %}{{ super() }} | {{ title }} {% endblock %}
{% block body %}
<p>Timeout: <b>{{ timeout }}</b> seconds</p>
<p>Letter: <b>{{ letter }}</b></p>
<p>Category: <b>{{ category }}</b></p>

{% if rest|length > 1 %}
  <p>{{ rest|length }}</p>
  <form action="/timer" method="post">
    <label for="success">
      <input type="submit" value="Success!">
      <input type="hidden" name="success" value="true">
    </label>
  </form>
  <form action="/timer" method="post">
    <label for="next">
      <input type="submit" value="Next!">
      <input type="hidden" name="success" value="false">
    </label>
  </form>
{% endif %}
<form action="/result" method="get">
  <label for="stop">
    <input type="submit" value="Stop">
  </label>
</form>
{% endblock %}
